body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Georgia;
    }

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(68, 224, 252);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgba(145, 37, 164, 0.804);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(248, 153, 58) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}